/*EACH PROJECT*/
.projectItem {
	width: 100%;
	height: 30vh;
	margin: 0 0 5vh 0;
	background-color: rgba(248,248,248,0.70);
}

.projectItem h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 3vmin;
	color: rgba(21,21,21,0.80);
	padding: 20px 0 0 40px;
}

.projectItem h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 2.5vmin;
	color: rgba(21,21,21,0.8);
	padding: 10px 0 0 40px;
}

#imageHolder {
	overflow: hidden;
	border-radius: 0px 12vh 12vh 0px;
	height: inherit;
	width: 25%;
	float: left;
}
.projectItem img {
	height: inherit;
	width: auto;
}
#skillsUsed {
	width: 25%;
	float: left;
	height: inherit;
}

#skillsUsed ul {
	margin: 0 0 0 65px;
	font-family: 'Roboto', sans-serif;
	color: rgba(21,21,21,0.70);
	font-size: 2vmin;
	list-style: circle;
}
#skillsUsed ul li {
	margin: 6px 0 0 0;
}
#projectDesc {
	width: 50%;
	float: left;
	height: inherit;
	padding: 40px 30px 40px 0;
	font-family: 'Roboto', sans-serif;
	font-size: 2vmin;
	color: rgba(21,21,21,0.70);
	line-height: 2.7vmin;
}
#projectDesc p {
	padding-top: 10px;
}